<html>
<head>
  <title>Allocation Results</title>
  <style>
    body{
      padding: 40px;
      background-color: lavender;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 85%;
      margin: 0 auto;
    }
    .collection{
      margin-bottom: 30px;
    }
    .oth table{
      width: 50%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    caption{
      font-family: 'Roboto', 'Sans-Serif';
      font-size: 20px;
      margin-bottom: 15px;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
</head>
<body>
<container>
  <% if @oag_allocation.present? %>
  <div class="collection">
    <table>
      <caption><b>Old Atithi Gruh Allocation</b></caption>
      <tr>
        <th>Room No.</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
      <% @oag_allocation.each do |participant| %>
        <tr>
          <% if participant[1].present? %><td rowspan="<%= participant[1].length %>"><%= participant[0] %></td><% end %>
          <% count =0 %>
          <% participant[1].each do |parti_ele| %>
            <% if count != 0 %><tr><% end %>
              <td><%= parti_ele[:name] %></td>
              <td><%= parti_ele[:gender] %></td>
              <td><%= parti_ele[:age] %></td>
            <% if count != 0 %></tr><% end %>
            <% count += 1  %>
          <% end %>
        </tr>
      <% end %>

    </table>
  </div>
  <% end %>
  <% if @nag_allocation.present? %>
    <hr>
    <div class="collection">
      <table>
        <caption><b>New Atithi Gruh Allocation</b></caption>
        <tr>
          <th>Room No.</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
        </tr>
        <% @nag_allocation.each do |participant| %>
          <tr>
            <% if participant[1].present? %><td rowspan="<%= participant[1].length %>"><%= participant[0] %></td><% end %>
            <% count =0 %>
            <% participant[1].each do |parti_ele| %>
            <% if count != 0 %><tr><% end %>
            <td><%= parti_ele[:name] %></td>
            <td><%= parti_ele[:gender] %></td>
            <td><%= parti_ele[:age] %></td>
            <% if count != 0 %></tr><% end %>
            <% count += 1  %>
          <% end %>
          </tr>
        <% end %>

      </table>
    </div>
  <% end %>
  <% if @others.present? %>
    <div class="collection oth">
      <table>
        <caption><b>Others (Gender is not provided), Not able to allocate the room</b></caption>
        <tr>
          <th>Name</th>
        </tr>
        <% @others.each do |participant| %>
          <tr>
            <td><%= participant[:name] %></td>
            <td><%= participant[:age] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <% if @couldnt_allocated_ladies.present? %>
    <div class="collection oth">
      <table>
        <caption><b>Ladies: Couldn't Allocated (it might be the reason NAG is full)</b></caption>
        <tr>
          <th>Name</th>
        </tr>
        <% @couldnt_allocated_ladies.each do |participant| %>
          <tr>
            <td><%= participant[:name] %></td>
            <td><%= participant[:age] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>


  <% if @couldnt_allocated_gents.present? %>
    <div class="collection oth">
      <table>
        <caption><b>Ladies: Couldn't Allocated (it might be the reason NAG is full)</b></caption>
        <tr>
          <th>Name</th>
        </tr>
        <% @couldnt_allocated_gents.each do |participant| %>
          <tr>
            <td><%= participant[:name] %></td>
            <td><%= participant[:age] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

</container>
</body>
</html>